p {
    color: blue;
    font-size: 20px;
}

body {
    text-align: left;
}


.cabecalho{
    padding: 20px;
    background-color: #386641;
    border-bottom: #3866414px
    solid #6a994e;
font-size: 20px
color-white

.cabecalho-imagem{
    width: 20%;
    height:20%;

    .cabecalho-título{
        pedding-left: 16px
        
    }
}
}

#titulo {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
color: #451952;


.texto {
    text-align: justify;
    font-size: 20px;
    color: grey;
}

#banner{
    width 250px
    margin: ;24px
    padding 24px
    
}

.título-principal{
:linear-gradient(#c5f9d7,#f7d486) ;
}